<<<<<<< HEAD
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* list buttons */
.delete-btn {
  display: inline;
  width: min-content;
  height: min-content;
}

.light-color {
  background-color: antiquewhite;
=======
@font-face {
  font-family: "comme";
  src: url(../public/fonts/comme.ttf);
}
:root {
  --DEFAULT: #1e293b;
  --light: #e5e7eb;
  --borders: #64748a;
  --darker: #0f172a;
  --dark: #274472;
  --transparent: #5c5c5c80;
}
#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  border: solid 1px transparent;
  box-sizing: border-box;
  background-color: var(--darker);
  font-family: "comme";
  color: var(--light);
>>>>>>> master
}
