@font-face {
  font-family: "comme";
  src: url(../public/fonts/comme.ttf);
}

#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  border: solid 1px transparent;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right top,
    #54759d,
    #5f81aa,
    #6a8eb8,
    #769ac5,
    #81a7d3,
    #83aad8,
    #84acdc,
    #86afe1,
    #7da8dd,
    #75a1d9,
    #6c9ad5,
    #6493d1
  );
  font-family: "comme";
}
