#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* list buttons */
.delete-btn {
  display: inline;
  width: min-content;
  height: min-content;
}

.light-color {
  background-color: antiquewhite;
}
